<!DOCTYPE html>
<html>
<head>
  <title>NoiseCo</title>
  <%= stylesheet_link_tag "bootstrap", "jquery-ui", "style" %>
</head>
<body>
  <header>
    <div class="container">
      <h1>NoiseCo</h1>
      <div class="login">
        Welcome, Jeffrey
        <a href="#">My Account</a>
        <a href="#">Log Out</a>
      </div>
    </div>
  </header>
  <nav>
    <div class="container">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Clients</a>
        </li>
        <li>
          <a href="#">Testimonials</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="hero">
    <div class="content">
      <div class="container">
        <h1>Achieve synergy with <strong>crowdsourced webinar solutions.</strong></h1>
        <a href="#">Sign up now</a>
        <!-- <a href="#" data-toggle="modal" data-target=".modal">Sign up now</a> -->   
      </div>
    </div>
  </section>
  <section class="details">
    <div class="container">
      <ul>
        <li class="detail--agile">
          <h2>Agile</h2>
          <p>Blah blah blah blah.</p>
        </li>
        <li class="detail--mobile">
          <h2>Mobile</h2>
          <p>Blah blah blah blah.</p>
        </li>
        <li class="detail--cloud">
          <h2>Cloudy</h2>
          <p>Blah blah blah blah.</p>
        </li>
      </ul>
    </div>
  </section>
  <footer>    
    <div class="container">
      <h2>NoiseCo</h2>
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Clients</a>
        </li>
        <li>
          <a href="#">Testimonials</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
      <small>&copy; 2015 NoiseCo. All rights reserved.</small>
    </div>
  </footer>
  <div class="mymodal">
    <form method="post" action="" autocomplete="off">
      <label for="first_name">
        First Name
      </label>
      <input type="text" id="first_name" name="first_name" required>
      <label for="last_name">
        Last Name
      </label>
      <input type="text" id="last_name" name="last_name" required>
      <label for="email">
        Email
      </label>
      <input type="email" id="email" name="email" required>
      <label for="password">
        Password
      </label>
      <input type="password" id="password" name="password" placeholder="minimum 8 characters" required minlength="8">
      <label for="password_confirmation">
        Confirm Password
      </label>
      <input type="password" id="password_confirmation" name="password_confirmation" required>
      <label for="newsletter">Sign up for newsletter?</label>
      <input type="checkbox" id="newsletter" name="newsletter">
      <textarea></textarea>
      <select name="number" multiple>
        <option value="">Select...</option>
        <option value="one">One</option>
        <option value="two">Two</option>
        <option value="three">Three</option>
      </select>
      <input type="submit" value="Sign Up">
    </form>
  </div>
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "jquery", "bootstrap", "jquery-ui", "jquery.validate", "script" %>
</body>
</html>