body {
  background: dodgerBlue;
  margin: 0;
  padding-top: 77px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  padding: 20px;
}
 
.page_header {
  background: midnightblue;
  color: white;
  position: relative;
}
 
.page_header h1 {
  text-align: center;
  margin: 0;
}

.page_header, .top_nav, article, aside, footer {
  padding: 10px;
}

.page_header, .top_nav, article, aside {
  margin-bottom: 20px;
}

article h1, aside h1, footer h1 {
  margin-top: 0;
}

.page_header a {
  color: white;
}

.top_nav {
  background: royalBlue;
}

.top_nav a {
  color: white;
}

.top_nav ul, footer nav ul {
  
  padding: 0;
}
  
  .top_nav ul li, footer nav ul li {
  margin-right: 20px;
  }

.top_nav ul {
  transition: right .5s;
  background: black;
  height: 100%;
  margin: 0;
  position: fixed;
  right: 100%;
  width: 100%;
  top: 0;
}

article {
  background: white;
  
}

aside {
  background: mediumSeaGreen;
  color: white;
}

footer {
  background: darkGreen;
  color: white;
  clear: both;
}

footer a {
  color: lightGreen;
}

footer nav ul {
  font-size: 90%;
  margin-bottom: 10px;
}

footer nav ul ul {
  list-style-type: disc;
  padding-left: 40px;
}

footer small {
  display: block;
  clear: both;
  font-size: 1em;
}

footer nav ul ul li {
  float: none;
}

.show_nav {
  overflow: hidden;
}

.show_nav .top_nav ul{
  right: 0;
}

/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

@media only screen and (min-width: 960px) {
     
     body {
          width: 920px;
          font-size: 16px;
      }

    article, aside {
      float: left;
    }

      article {
      width: 680px;
    }

    aside {
       margin-left: 20px; 
       width: 180px;
    }

      .top_nav ul li, footer nav ul li {
      float: left;
      }

      top_nav ul {
      position: static;
      }
}
